[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/huangjimmy/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/huangjimmy/appbase
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/huangjimmy/genesis.git
